<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Conn" connectionString="Data Source=GIBRAN\GIBRAN; Initial Catalog=Albaricoque; Integrated Security=true"
      providerName="System.Data.SqlClient" />
    <add name="Vista.Properties.Settings.AlbaricoqueConnectionString"
      connectionString="Data Source=GIBRAN\GIBRAN;Initial Catalog=Albaricoque;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>